WordpressMenusdujour {

  ion-card img{

    max-height: 400px;
  }

  .card {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: color($colors, light);
    box-shadow: 0px 0px 10px 2px rgba(34,34,34,1);


  }
  .titre{
    color: color($colors, Rouge)
  }
  .prix{
    font-size: 1.5em;
    color: color($colors, Rouge);
  }
  .small-prix {
    font-size: 10px;
    color: rgba(50, 50, 50, 0.72);
  }

  .rowcolor {
    border-top: 2px solid color($colors, Rouge);

  }


  .fab[mini]{
    margin:0px;
  }

  ion-fab-list[side="left"] {
    padding-bottom: 20px;

  }
  ion-fab-list[side="left"] .fab-in-list{
    background-color: color($colors,Rouge);
  }



  .item p {
    color: color( $colors, Rouge);
    margin-top: -20px;
    margin-right: 5px;
  }

}






